{% extends 'wiki/layout.html' %}

{% block header %}
Manage User
{% endblock header %}

{% block other_content %}
<form class="form-add-wiki-group" method="POST">
  {{ form.csrf_token }}
  <div style="max-width:300px;">
    <div class="form-group">
    {{ form.username.label }}
    {{ form.username(class_='form-control', placeholder='Username') }}
    </div>
    <div class="form-group">
    {{ form.email.label }}
    {{ form.email(class_='form-control', placeholder='Email') }}
    </div>
    <div class="form-group">
    {{ form.password.label() }}
    {{ form.password(class_='form-control', placeholder='Password') }}
    </div>
    <div class="form-group form-check">
    {{ form.is_admin(class_='form-check-input') }}
    As admin
    </div>
    <div class="form-row">
      <div class='col-6'>
      {{ form.submit(class_='btn btn-primary form-control') }}
      </div>
      <div class='col'>
      {{ form.remove(class_='btn btn-danger form-control') }}
      </div>
    </div>
  </div>
</form>
{% endblock other_content %}
