{% extends 'wiki/layout.html' %}

{% block header %}
Changes
{% endblock header %}

{% block other_content %}
<select class="form-control" id="select-wiki-user">
  <option>All users</option>
  {% for wiki_user in wiki_users %}
  <option>{{ wiki_user }}</option>
  {% endfor %}
</select>
<br/>

{% macro my_url_for(page_number) -%}
{{ url_for('wiki.changes', page=page_number) }}
{%- endmacro %}

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Edited By</th>
      <th scope="col">Last Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for wiki_page in data.items %}
    <tr>
      <th scope="row">{{ loop.index + number_per_page*(current_page_number-1) }}</th>
      <td><a href="{{ url_for('wiki.page', wiki_page_id=wiki_page.id) }}">{{ wiki_page.title }}</a></td>
      <td>{{ wiki_page.modified_by }}</td>
      <td>{{ wiki_page.modified_on.strftime('%Y-%m-%d %H:%M:%S') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'wiki/pagination.html' %}
<br><br><br><br><br><br><br><br>
{% endblock other_content %}

{% block js %}
{{ super() }}

<script type="text/javascript">
  $('#select-wiki-user').prop('selectedIndex', {{ selected_index }});
  $('#select-wiki-user').on('change', function() {
    let selected_wiki_user = this.value;
    location.href = `/{{ wiki_group }}/changes?user=${selected_wiki_user}`;
  });
</script>
{% endblock js %}
